@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200&display=swap');

body {
    margin: 0px;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

:root {
    --primary-color: #f59e0b;

}

.navigation {
    background-color: var(--primary-color);

    font-size: larger;
    margin-bottom: 5rem;
    border-bottom-left-radius: 2rem;
    padding: 0.5rem 0.5rem;
}

.major {
    text-align: center;
}

#btn-translate {
    font-size: larger;
    padding: 1rem 1rem;
    margin: 1rem;
    text-align: center;
}



textarea {
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

#output {
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
    text-align: center;
}


.output-nav {
    padding-left: 2rem;
    font-size: larger;
    text-align: center;
}


.button {
    padding-left: 4 rem;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    
}
